html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/* Navbar Styles */
.navbar {
    background-color: #003366 !important; /* Navy Blue */
}

.navbar-brand,
.nav-link {
    color: white !important;
}

.nav-link:hover {
    color: #ff7043 !important; /* Sunset Orange */
}

.indexPicBox 
{
    background-image: url("/images/indexPic.jpg");
    height: 60rem;
    text-align: center;
    padding-top: 4rem;
}

.indexQuote
{
    color: white;
    font-size: 20px;
    margin-bottom: 2rem;
}

.indexHeader
{
    padding-bottom: 2rem;
    color: white;
}

.indexBtn {
    background-color: #003366;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.indexBtn:hover 
{
     color: #ff7043
}

#formBtn
{
    margin-top: 1rem;
}