@page
@model semester1Website.Pages.BlogPostModel
@{
    ViewData["Title"] = "Edit Blog Post";
}
<h1>Blog</h1>

<div class="row">
<h2>Lav nyt opslag</h2>
<form method="post" asp-page-handler="Edit">
    <div class="form-group">
        <label asp-for="Title">Titel</label>
        <input asp-for="Title" class="form-control" placeholder="Indtast titel.." />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ChairMan">Navn</label>
        <input asp-for="ChairMan" class="form-control" placeholder="Indtast navn.." />
        <span asp-validation-for="ChairMan" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="UploadedImage">Indsæt billede</label>
        <input type="file" asp-for="UploadedImage" class="form-control" />
        <span asp-validation-for="UploadedImage" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Description">Beskrivelse</label>
        <textarea asp-for="Description" class="form-control" id="Beskrivelse" placeholder="Indtast beskrivelse.." required rows="4"></textarea>
    </div>
    <button type="submit" id="formBtn" class="btn btn-primary">Save Changes</button>
</form>
</div>


@if (Model.BlogPost != null)
{
    <h3>Opslag</h3>
    <p>Titel: @Model.BlogPost.Title</p>
    <p>Navn: @Model.BlogPost.ChairMan</p>
    <p>Beskrivelse: @Model.BlogPost.Description</p>
    @if (!string.IsNullOrEmpty(Model.BlogPost.ImagePath))
    {
        <img src="@Model.BlogPost.ImagePath" alt="Blog Post Image" style="max-width: 100%; height: auto;" />
    }
}


