@page
@using semester1Website.Models
@model semester1Website.Pages.BookBådModel
@{
    ViewData["Title"] = "Meld Dig Ind";
}

<p>Book båd, WIP</p>

<h2>Register ny båd</h2>

<!--Dropdown til båd type-->
<form method="post">
    <div class="form-group">
        <label for="båType">Vælg Båd Type</label>
        <select class="form-control" id="boatTypeForm" asp-for="ValgtboatType" onchange="hideShowFormFields()">
            <option value="">-- Vælg en båd type --</option>
            @foreach (var boatType in Model.boatTyper)
            {
                <option value="@boatType">@boatType</option>
            }
        </select>
    </div>

    <!--General båd form-->
    <div class="form-group">
        <label for="bådname">Båd name</label>
        <input type="text" class="form-control" id="bådnameInput" asp-for="Bådname" placeholder="Båd name" required>
    </div>
    <div class="form-group">
        <label for="bådModel">Båd model</label>
        <input type="text" class="form-control" id="bådModel" asp-for="BådModel" placeholder="Båd Model" required>
    </div>
    <div class="form-group">
        <label for="byggeÅr">Bygge år</label>
        <input type="number" class="form-control" id="bådbuildYear" asp-for="BådbuildYear" placeholder="Bygge år" required>
    </div>
    <div class="form-group">
        <label for="båddimensions">Båd dimensions</label>
        <input type="text" class="form-control" id="båddimensions" asp-for="Båddimensions" placeholder="Længde*Bredde*Højde" required>
    </div>

    <!--Motorbåd værdier-->
    <div id="motorbådVærdier" style="display: none;">
        <div class="form-group">
            <label for="Motor">Motor</label>
            <input type="text" class="form-control" id="motor" asp-for="Motor" placeholder="Motor">
        </div>
        <div class="form-group">
            <label for="hestekræfter">Hestekræfter</label>
            <input type="number" class="form-control" id="hæstekræfter" asp-for="Hæstekrafter" placeholder="Hestekræfter">
        </div>
        <div class="form-group">
            <label for="liter">Liter</label>
            <input type="number" class="form-control" id="liter" asp-for="Liter" placeholder="Liter">
        </div>
    </div>

    <!--Sejlbåd værdier-->
    <div id="sejlbådVærdier" style="display: none;">
        <div class="form-group">
            <label for="antalSejl">Antal Sejl</label>
            <input type="number" class="form-control" id="antalSejl" asp-for="AntalSejl" placeholder="Antal sejl">
        </div>
        <div class="form-group">
            <label for="maksSejlBredde">Maks sejl bredde</label>
            <input type="number" class="form-control" id="maksSejlBredde" asp-for="MaksSejlBredde" placeholder="Maks sejl bredde">
        </div>
    </div>

    <!--Robåd værdier-->
    <div id="robådVærdier" style="display: none;">
        <div class="form-group">
            <label for="sidderpladser">Siddepladser</label>
            <input type="number" class="form-control" id="siddePladser" asp-for="SiddePladser" placeholder="Antal side pladser">
        </div>
        <div class="form-group">
            <label for="antalÅrer">Årer</label>
            <input type="number" class="form-control" id="antalÅrer" asp-for="AntalÅrer" placeholder="Antal årer">
        </div>
    </div>

    <button type="submit" id="formBtn" class="btn btn-primary">Godkend</button>
</form>


    <h1>Båd Liste</h1>
    <p>@RepoInitializer.boatRepo.PrintAll()</p>

<script>
    //overvej at lav dedikeret fil til js og ryk style display:none til css.
    function hideShowFormFields() {
        var selectedType = document.getElementById("boatTypeForm").value;

        document.getElementById("motorbådVærdier").style.display = "none";
        document.getElementById("sejlbådVærdier").style.display = "none";
        document.getElementById("robådVærdier").style.display = "none";

        if (selectedType === "Motorbåd") {
            document.getElementById("motorbådVærdier").style.display = "block";
        } else if (selectedType === "Sejlbåd") {
            document.getElementById("sejlbådVærdier").style.display = "block";
        } else if (selectedType === "Robåd") {
            document.getElementById("robådVærdier").style.display = "block";
        }
    }
</script>