@page
@model semester1Website.BookboatModel;
@{
    ViewData["Title"] = "Book en båd";
}

<h1>Book en båd</h1>

<form method="post">
    <div class="form-group">
        <label for="_boatId">Båd ID:</label>
        <input type="number" class="form-control "id="_boatId" asp-for="_boatId" placeholder="Boatid" required />
        <br />
    </div>
    <div class="form-group">
        <label for="_startTid">Starttidspunkt:</label>
        <input type="datetime-local" class="form-control " id="_startTid" asp-for="_startTid" placeholder="Starttidspunkt" required />
        <br />
    </div>
    <div class="form-group">
        <label for="_slutTid">Sluttidspunkt:</label>
        <input type="datetime-local" class="form-control " id="_slutTid" asp-for="_slutTid" placeholder="Sluttidspunkt" required />
        <br />
    </div>

    <button class="btn btn-primary" type="submit">Book båd</button>
</form>


@if (!string.IsNullOrEmpty(Model.Message))
{
    <p>@Model.Message</p>
}
