@page
@model IndexModel
@{
    ViewData["Title"] = "Forside";
}


<div class="indexPicBox">
    <h1 class="indexHeader">Hillerød Sejlklub</h1>
    <p class="indexQuote"><q>Havet rører hjertet, inspirerer fantasien og bringer evig glæde til sjælen.</q> - Wyland</p>
    <a class="indexBtn" asp-area="" asp-page="/MeldDigInd">Bliv Medlem</a>
</div>