@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h3 class="display-4">Jolle model 2014</h3>


    <img src="~/images/IMG_6819.jpg" width="600" height="600" />
    <p> <h1>skade log</h1>Denne jolle har ikke nogen skader lige nu </p>

    <html>
    <body>

        <h2> Tidliger skader </h2>

        <dl>
            <dt>28/7/24</dt>
            <dd>bule i stævn</dd>
            <dt>03/12/24</dt>
            <dd> motor virker ikke</dd>
        </dl>

    </body>
</html>


</div>

