@page
@using semester1Website.Models
@model semester1Website.Pages.MeldDigIndModel
@{
    ViewData["Title"] = "Meld Dig Ind";
}

<p>meld dig ind, wip</p>

<form method="post">
    <div class="form-group">
        <label for="medlemname">name</label>
        <input type="text" class="form-control" id="nameInput" asp-for="MedlemName" placeholder="Fulde name" required>
    </div>
    <div class="form-group">
        <label for="medlemMobil">Mobil Nummer</label>
        <input type="tel" class="form-control" id="mobilInput" asp-for="MedlemMobil" placeholder="+45" required>
    </div>
    <div class="form-group">
        <label for="medlemAddresse">Addresse</label>
        <input type="text" class="form-control" id="addresseInput" asp-for="MedlemAddresse" placeholder="Vej, Vejnummer og Postnummer" required>
    </div>
    <button type="submit" id="formBtn" class="btn btn-primary">Godkend</button>
</form>

@if (Model.NewMedlem != null)
{
    <h1>Medlem Details</h1>
    <p>@MemberRepository.PrintList()</p>
}
